In [76]:
#Libraries

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import os
import re
import json
import string
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import plotly.graph_objects as go
from tqdm.autonotebook import tqdm
from functools import partial

In [79]:
train = pd.read_csv('coleridgeinitiative-show-us-the-data/train.csv')
train.head()

,Id,pub_title,dataset_title,dataset_label,cleaned_label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study

In [100]:
train_files_path = './coleridgeinitiative-show-us-the-data/train'
test_files_path = './coleridgeinitiative-show-us-the-data/test'
counter = 0
total_counter=0
def json_to_text(filename, train_files_path=train_files_path):
    global counter, total_counter
    total_counter+=1
    json_path = os.path.join(train_files_path, (filename+'.json'))
    value = ""
    with open(json_path, 'r') as f:
        json_decode = json.load(f)
        for data in json_decode:
            if data.get('section_title') == "Introduction":
                counter += 1
                value +=" " + data.get('text')
            if data.get('section_title') == "Abstract":
                counter += 1
                value +=" " + data.get('text')
    return value
    
tqdm.pandas()
train['text'] = train['Id'].progress_apply(json_to_text)
print(counter)
print(total_counter)

  0%|          | 0/19661 [00:00<?, ?it/s]

20778
19661

In [101]:
train.head()

,Id,pub_title,dataset_title,dataset_label,cleaned_label,text,mask
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,,NaN
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,,NaN
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,,NaN
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Federal Reserve Bank of Richmond S1. Accounti...,NaN
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,This article investigates an important factor...,True

In [102]:
test = 0
for i in range(len(train)):
    if train.loc[i][2] in train.loc[i][5]:
        test += 1
print(test)

3284

In [105]:
train['mask'] = train.apply(lambda x: x.dataset_title in x.text, axis=1)
df = train.loc[train["mask"] == True,:]

In [106]:
df

,Id,pub_title,dataset_title,dataset_label,cleaned_label,text,mask
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,This article investigates an important factor...,True
5,81b5f874-9b42-4d4f-8c50-b4bab24f8aed,The Gender Gap Reloaded: Are School Characteri...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,This study examines the wage gender gap of yo...,True
6,f35fdfa6-a3f9-4ef3-a858-c8e2efcd2349,The High School Environment and the Gender Gap...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Despite the striking reversal of the gender g...,True
8,e5a4c6af-0854-4f7e-b088-06f03c18a01a,Locus of Control and Peer Relationships Among ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Abstract Past research has shown that locus o...,True
12,d5ff0ecd-ccf5-4f8a-a09c-182376eed4d0,Beyond the Laboratory: Evaluating the Survey E...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,"The black-white gap in achievement, as measur...",True
...,...,...,...,...,...,...,...
19381,06fe59d3-3f2a-42e4-9621-18e046ac3880,Development of a PCR-RFLP method for detection...,SARS-CoV-2 genome sequence,genome sequence of SARS-CoV-2,genome sequence of sars cov 2,The novel Coronaviridae member named SARS-CoV...,True
19618,a45b5269-9937-4f04-ad51-81e705d837c4,The importance of standardisation – COVID-19 C...,COVID-19 Image Data Collection,COVID-19 Image Data Collection,covid 19 image data collection,"At the end of 2019, a new coronavirus SARS-Co...",True
19621,bd180f8e-6dfa-4874-a172-957322f46867,COVID-Net: A Tailored Deep Convolutional Neura...,COVID-19 Image Data Collection,COVID-19 Image Data Collection,covid 19 image data collection,The COVID-19 pandemic continues to have a dev...,True
19625,118d2571-5938-4363-81d0-c3083d18a607,COVID-19 detection and disease progression vis...,COVID-19 Image Data Collection,COVID-19 Image Data Collection,covid 19 image data collection,The 2019 novel Coronavirus (COVID-19) has bec...,True
19657,f77eb51f-c3ac-420b-9586-cb187849c321,MCCS: a novel recognition pattern-based method...,CAS COVID-19 antiviral candidate compounds dat...,CAS COVID-19 antiviral candidate compounds dat...,cas covid 19 antiviral candidate compounds dat...,The outbreak of the coronavirus disease 2019 ...,True

In [67]:
test = 0
unique = set()
for i in range(len(train)):
    test += 1
    unique.add(train.loc[i][2])
print(test)
print(len(unique))

19661
14316